@import "tailwindcss";

*{
  letter-spacing: 0.5px;
}
button{
  cursor: pointer;
  transition: all 0.2s ease-in;
}

:root {
  /* สีหลักของแบรนด์ / ปุ่มหลัก */
  --color-primary:#1E90FF;
  /* พื้นหลังบางส่วน / Hover */
  --color-secondary:#c0e7ff;
  /* พื้นหลังแบบจาง / กล่องเนื้อหา */
  --color-bg:#E6F4FF;
  /* ตัวหนังสือเด่น / Header */
  --color-text-main:#0027b3;
  /* พื้นหลังหลัก / ตัวอักษรบนพื้นเข้ม */
  --color-text-normal:#fff;
  /* 	พื้นหลังรอง / ขอบ */
  --color-border:#F5F5F5;
  /* ตัวหนังสือรอง / เส้นคั่น */
  --color-text-second:#B0B0B0;
}


/* ปุ่มหลัก */
.btn-primary{
  @apply flex items-center gap-2 py-3 lg:py-4 justify-center
  rounded-lg text-[var(--color-text-normal)] 
  bg-[var(--color-text-main)] hover:px-12 
  hover:shadow-md  hover:shadow-gray-500
}
/* ปุ่มลบ/ออกจากระบบ */
.btn-danger{
  @apply flex items-center gap-4 py-2 px-4 bg-red-500 transition-all duration-200 hover:bg-red-700 rounded-md text-white cursor-pointer
}

/* input */
.form-control{
  @apply p-2 border-b-2 border-[var(--color-primary)] outline-none w-full
   focus:ring focus:ring-[var(--color-primary)] focus:rounded-md transition-all
}